.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 540px; */
    width: 540px;
    /* min-width: 375px; */
    height: 332px;
    max-height: 332px;
    border-radius: 30px;
    /* overflow: hidden; */
    background-color: hsl(217, 19%, 24%);
    padding: 53px;
}
.main div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}