@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* font-family: 'Manrope', sans-serif; */
:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--Light-Cyan);
    background-color: var(--DarkBlue);
    margin: 0;
}